.expenses-filter {
  color: white;
  padding: 0 1rem;
  display: flex;
}

.expenses-filter__control {
  display: flex;
  padding: 0.4rem 0.75rem;
  flex-direction: column;
  margin: 0.5rem 0;
}

.expenses-filter label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.expenses-filter select {
  font: inherit;
  padding: 0.2rem;
  font-weight: bold;
  border-radius: 10px;
}